@model List<MyMvcApp.Models.User>

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create", "User")
</p>

<form asp-action="Search" method="get" class="form-inline mb-3">
    <input type="text" name="searchTerm" class="form-control mr-2" placeholder="Search users..." />
    <button type="submit" class="btn btn-primary">Search</button>
</form>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <!-- Other columns... -->
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.Name</td>
                <td>@user.Email</td>
                <!-- Other columns... -->
            </tr>
        }
    </tbody>
</table>